.container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.location{
    display: flex;
    flex-direction: column;
    width: 30%;
   
}
.phone{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.email{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.horario{
    display: flex;
    justify-content: center;
    align-items:center;
}