.nav {
  display: flex;
  justify-content: space-around; /* O gap si prefieres */
  width: 30%; /* Ajusta este valor según el espacio necesario */
}

.enlaces {
  text-decoration: none;
  color: black;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
