.nav {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 40px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}
.enlaces {
  text-decoration: none;
  color: black;
}
