.products {
    display: flex;
    

  }
  
  .dev, .dising {
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100px; 
  }
  
  .icon {
    color: black;
    width: 100px;
    height: 100px;
  }
  