/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
}
.cls-1 {
  fill: #e6e4e4;
}
.cls-2 {
  fill: #bfbfbf;
}
.cls-3 {
  fill: #1e1e1e;
}
.cls-4 {
  fill: #5a1ae5;
}
.cls-5 {
  fill: #f92663;
}
.cls-6 {
  fill: #ff8e35;
}
.cls-7 {
  fill: #6fabe6;
}
.cls-8 {
  fill: #0579d8;
}
