---
import Layout from "../layouts/Layout.astro";
import { IconDeviceIpadHorizontalCode } from "@tabler/icons-react";
import styles from "../modulesCSS/viewsCSS/mainDesarrolloWeb.module.css";
---

<Layout title="Desarrollo Web">
  <main>
    <section class="h-[106vh] flex justify-center items-center bg-blue-800">
      <div class="text-center w-1/3 flex flex-col items-center">
        <h1 class="text-5xl font-bold mb-4 w-2/3">DESARROLLO WEB</h1>
        <p class="mb-10">
          Creamos sitios web fáciles de usar y adaptados a tu negocio. Desde
          páginas simples hasta tiendas en línea, nos aseguramos de que tu
          presencia en internet sea efectiva.
        </p>
        <a
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          href="/contacto"
        >
          Contáctanos
        </a>
      </div>
    </section>
    <section class="w-5/6 my-5 mx-auto flex flex-col items-center">
      <h2 class="text-3xl font-bold my-4 text-center">
        Beneficios del Desarrollo Web
      </h2>

      <div class="grid grid-cols-5">
        <div class="flex flex-col items-center p-4 mx-auto">
          <img src="#" alt="" class="bg-blue-500 w-24 h-24" />
          <h4 class="my-5">Diseño Personalizado</h4>
          <p class="text-center text-sm">
            Diseños únicos y adaptados a tus necesidades y objetivos
            empresariales.
          </p>
        </div>
        <div class="flex flex-col items-center p-4 mx-auto">
          <img src="#" alt="" class="bg-blue-500 w-24 h-24" />
          <h4 class="my-5">Responsive Design</h4>
          <p class="text-center text-sm">
            Compatible con todos los dispositivos para ofrecer una experiencia
            óptima en móviles, tabletas y computadoras.
          </p>
        </div>
        <div class="flex flex-col items-center p-4 mx-auto">
          <img src="#" alt="" class="bg-blue-500 w-24 h-24" />
          <h4 class="my-5">SEO Optimizado</h4>
          <p class="text-center text-sm">
            Mejora tu posicionamiento en los motores de búsqueda y aumenta tu
            visibilidad online.
          </p>
        </div>
        <div class="flex flex-col items-center p-4 mx-auto">
          <img src="#" alt="" class="bg-blue-500 w-24 h-24" />
          <h4 class="my-5">Velocidad y Rendimiento</h4>
          <p class="text-center text-sm">
            Sitios web rápidos que garantizan una experiencia de usuario fluida
            y sin interrupciones.
          </p>
        </div>
        <div class="flex flex-col items-center p-4 mx-auto">
          <img src="#" alt="" class="bg-blue-500 w-24 h-24" />
          <h4 class="my-5">Soporte Continuo</h4>
          <p class="text-center text-sm">
            Asistencia tecnica y mantenimiento continuo para garantizar la
            estabilidad y la funcionalidad de tu sitio web.
          </p>
        </div>
      </div>
    </section>
    <img src="#" alt="" class="bg-blue-500 w-full h-48" />

    <section class="w-3/4 my-5 mx-auto flex flex-col items-center">
      <h2 class="text-3xl font-bold my-4 text-center">
        Nos adaptamos a tus necesidades
      </h2>

      <div class="grid grid-cols-2">
        <div class="flex flex-col items-center p-4 w-2/3 mx-auto">
          <img src="#" alt="" class="bg-blue-500 w-24 h-24" />
          <h4 class="my-5">Landing Page</h4>
          <p class="text-center text-sm">
            Pagina web de estilo Single Page, que reúne la información esencial
            de tu producto, servicio o empresa, además de los datos de contacto,
            para maximizar conversiones y atraer a tu público objetivo de manera
            efectiva.
          </p>
        </div>
        <div class="flex flex-col items-center p-4 w-2/3 mx-auto">
          <img src="#" alt="" class="bg-blue-500 w-24 h-24" />
          <h4 class="my-5">Desarrollo a Medida</h4>
          <p class="text-center text-sm">
            Sitio web completamente personalizado que se adapta al estilo de tu
            marca o negocio, incorporando funcionalidades especiales y adaptadas
            a tus necesidades especiales.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
