---
import Button from "./button.astro";
---

<div class="flex items-center celular:flex-col">
  <div
    class="flex flex-col items-center w-1/2 pt-10 gap-7 celular:order-2 celular:w-full celular:pt-10"
  >
    <div class="flex flex-col w-3/5 relative celular:w-10/12">
      <h1 class="text-5xl font-bold w-full animate-fadeInOut1">
        Desarrollo Web
      </h1>
      <h1 class="text-5xl font-bold w-full animate-fadeInOut2 absolute">
        Diseño Web
      </h1>
    </div>
    <div class="flex flex-col w-3/5 relative celular:w-10/12">
      <p class="text-base text-justify w-full animate-fadeInOut1">
        Somos un equipo de expertos en desarrollo web y diseño web que se
        especializa en la creación de sitios web atractivos y funcionales que
        reflejen la identidad de tu negocio.
      </p>
      <p class="text-base text-justify w-full animate-fadeInOut2 absolute">
        Nuestro enfoque se basa en la creación de sitios web que reflejen la
        identidad de tu negocio y que sean fáciles de navegar y usar.
      </p>
    </div>
    <div
      class="flex flex-col w-3/5 relative celular:w-10/12 celular:items-center"
    >
      <Button href="/contacto" classList="w-1/3 animate-fadeInOut1 "
        >Contáctanos</Button
      >
      <Button href="/contacto" classList="w-1/3 animate-fadeInOut2 absolute"
        >Contáctanos</Button
      >
    </div>
  </div>

  <img
    class="w-1/2 celular:w-full celular:object-cover celular:order-1"
    src="\laptop-typing_JXHUVN906T.jpg"
    alt="Imagen de ejemplo"
  />
</div>
