---
const { href, type, classList, id } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      id={id}
      class={`celular:w-10/12 rounded-md text-center block w-2/5 py-2  bg-anaranjado text-white text-base font-audiowide  border-4 border-negro hover:bg-transparent hover:text-white hover:border-negro ${classList || ""}`}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      id={id}
      class={`celular:w-10/12 rounded-md text-center w-2/5 py-2  bg-negro text-white text-base font-audiowide  font-bold border-4 border-white hover:border-negro hover:bg-transparent hover:text-negro ${classList || ""}`}
    >
      <slot />
    </button>
  )
}
