---
const { href, type, classList, id } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      id={id}
      class={`celular:w-10/12 text-center block w-2/5 py-2  bg-black text-white text-base font-bold border-2 border-black hover:bg-transparent hover:text-black ${classList || ""}`}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      id={id}
      class={`celular:w-10/12 text-center w-2/5 py-2  bg-black text-white text-base font-bold border-2 border-black hover:bg-transparent hover:text-black ${classList || ""}`}
    >
      <slot />
    </button>
  )
}
