---
const { href, type, classList, id } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      id={id}
      class={`cls-5 celular:w-10/12 text-center block w-2/5 py-2  bg-anaranjado text-[#1e1e1e] text-base font-syne font-bold border-2 border-[#1e1e1e] hover:bg-transparent hover:text-[#1E1E1E] ${classList || ""}`}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      id={id}
      class={`celular:w-10/12 text-center w-2/5 py-2  bg-[#f92663] text-[#1e1e1e] text-base font-syne font-semibold border-2 border-[#1E1E1E] hover:bg-transparent hover:text-[#1E1E1E] ${classList || ""}`}
    >
      <slot />
    </button>
  )
}
