---

---

<div class="bg-blue-500 flex flex-col items-center text-center py-16">
  <h1 class="text-3xl text-white mb-8">Ponte en contacto</h1>
  <div class="flex flex-row justify-center w-full max-w-screen-lg px-28 celularPequeno:flex-col celularPequeno:justify-center celularPequeno:px-5">
    <!-- Dirección -->
    <div class="flex flex-col w-1/3 px-16 celularPequeno:w-full celularPequeno:px-5 mb-4 items-center celularPequeno:border-t-2 celularPequeno:border-b-2 ">
      <h1 class="text-2xl text-white mb-2 celularPequeno:pt-3">Dirección:</h1>
      <p class="text-white mb-1 px-1 text-center pb-3">
        Av. Aquisito Noma 6496, Cercado de Lima
      </p>
    </div>

    <!-- Celular -->
    <div class="flex flex-col w-1/3 px-16  tablet:border-r-2 tablet:border-l-2 escritorio:border-r-2 escritorio:border-l-2 celularPequeno:border-hidden    border-gray-300 celularPequeno:w-full celularPequeno:px-5 mb-4 items-center">
      <h1 class="text-2xl text-white mb-2">Celular:</h1>
      <p class="text-white mb-2 text-center">1234567890</p>
    </div>

    <!-- Correo -->
    <div class="flex flex-col w-1/3 px-16 celularPequeno:w-full celularPequeno:px-5 mb-4 items-center celularPequeno:border-b-2 celularPequeno:border-t-2">
      <h1 class="text-2xl text-white mb-2 celularPequeno:pt-3">Correo:</h1>
      <p class="text-white mb-2 text-center celularPequeno:pb-3">levelup@gmail.com</p>
    </div>
  </div>

  <!-- Horario -->
  <div class="flex justify-center items-center mt-5">
    <h1 class="text-lg text-white mr-1">Horario:</h1>
    <p class="text-white">Lunes a Viernes de 9:00 a 18:00</p>
  </div>
</div>
