---
import SocialIcons from "./socialIcons.astro";
import FooterSection from "./footerSection.astro";
---

<footer class="h-full py-10 px-12 text-center text-white bg-black">
  <div class="max-w-screen-2xl mx-auto flex">
    <img src="logo.png" alt="Owlyx Logo" class="w-24 h-24" />
    <h2>Owlyx</h2>
  </div>
  <div class="max-w-screen-2xl mx-auto flex justify-around flex-wrap">
    <FooterSection header="SERVICIOS">
      <li class="list-none mb-1">Creación de Sitios Web</li>
      <li class="list-none mb-1">Diseño de Sitios Web</li>
      <li class="list-none mb-1">Branding e Identidad</li>
    </FooterSection>
    <FooterSection header="UBICACIÓN">
      <p class="mb-1">Av. Aquisito Noma 6496, Cercado de Lima</p>
    </FooterSection>
    <FooterSection header="CONTACTO">
      <p class="mb-1">+51 941 444 077</p>
      <p class="mb-1">hola@invadion.com</p>
    </FooterSection>
    <FooterSection header="REDES SOCIALES">
      <SocialIcons />
    </FooterSection>
  </div>
  <div class="max-w-6xl mx-auto mt-5 text-sm">
    <p>©2025 Owlyx S.A.C Todos los derechos reservados</p>
  </div>
</footer>
