---
import styles from "../modulesCSS/componentsCSS/formulario.module.css";
---

<div class={styles.formulario}>
  <img class={styles.img} src="/img/formulario.png" alt="img-formulario" />
  <div class={styles.form}>
    <h2>ESCRÍBENOS</h2>
    <form class="styles.form">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required />
      </div>
      <div class="form-group">
        <label for="empresa">Empresa:</label>
        <input type="text" id="empresa" name="empresa" required />
      </div>
      <div class="form-group">
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" required />
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required />
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn">Enviar</button>
    </form>
  </div>
</div>
