---
import FormOption from "./formOption.astro";
import Button from "./button.astro";
---

<div
  class="celular:h-full celular:flex-col w-full flex justify-center items-center bg-[#ffd500] py-8"
>
  <img
    class="w-1/2 object-cover"
    src="/img/formulario.png"
    alt="img-formulario"
  />
  <div class="w-1/2">
    <h2 class="text-3xl font-bold my-4">ESCRÍBENOS</h2>
    <form class="flex flex-col gap-5">
      <FormOption label="Nombre:" type="text" name="nombre" id="nombre" />
      <FormOption label="Empresa:" type="text" name="empresa" id="empresa" />
      <FormOption label="Correo:" type="email" name="correo" id="correo" />
      <FormOption label="Teléfono:" type="tel" name="telefono" id="telefono" />
      <FormOption label="Mensaje:" isTextarea name="mensaje" id="mensaje" />
      <Button type="submit">ENVIAR</Button>
    </form>
  </div>
</div>
