---
import styles from "../modulesCSS/componentsCSS/formulario.module.css";
---

<div class={styles.formulario}>
  <img class={styles.img} src="/img/formulario.png" alt="img-formulario" />
  <div class={styles.form}>
    <h2>ESCRÍBENOS</h2>
    <form class="styles.form">
      <div class={styles["form-group"]}>
        <label for="nombre">
          <input
            type="text"
            id="nombre"
            name="nombre"
            required
            placeholder="Nombre:"
          />
        </label>
      </div>
      <div class={styles["form-group"]}>
        <label for="empresa">
          <input
            type="text"
            id="empresa"
            name="empresa"
            required
            placeholder="Empresa:"
          />
        </label>
      </div>
      <div class={styles["form-group"]}>
        <label for="correo"
          ><input
            type="email"
            id="correo"
            name="correo"
            required
            placeholder="Correo:"
          /></label
        >
      </div>
      <div class={styles["form-group"]}>
        <label for="telefono"
          ><input
            type="tel"
            id="telefono"
            name="telefono"
            required
            placeholder="Teléfono:"
          /></label
        >
      </div>
      <div class={styles["form-group"]}>
        <label for="mensaje"
          ><textarea
            id="mensaje"
            name="mensaje"
            rows="4"
            required
            placeholder="Mensaje"></textarea></label
        >
      </div>
      <button type="submit" class={styles.btn}>Enviar</button>
    </form>
  </div>
</div>
