---
import Nav from "./nav.astro";
---

<header
  id="header"
  class="w-full h-14 flex justify-around items-center bg-transparent fixed shadow-lg z-50"
>
  <a href="/"> <img src="logo.png" alt="Owlyx Logo" class="w-10 h-10" /></a>
  <Nav />
</header>

<script is:inline>
  // Asegúrate de que el script se ejecute en el cliente
  if (typeof window !== "undefined") {
    // Carga dinámica del archivo JS
    import("/src/utils/ScrollHandler.js")

      .then(({ default: addScrollClass }) => {
        document.addEventListener("DOMContentLoaded", () => {
          addScrollClass("header", 90);
        });
      })
      .catch((error) => {
        console.error("Error al cargar ScrollHandler.js:", error);
      });
  }
</script>
