---
import Nav from "./nav.astro";
import styles from "../modulesCSS/componentsCSS/header.module.css";
---

<div class={styles.header}>
  <div class="logo">haki ba el logo</div>
  <div>
    <Nav />
  </div>
</div>
