---
import Nav from "./nav.astro";
import styles from "../modulesCSS/componentsCSS/header.module.css";
---

<di class={styles.header}>
  <div class={styles.logo}>haki ba el logo</div>
  <Nav />
</di>
