---
import Button from "./button.astro";
---

<section
  class="h-[106vh] celular:h-[500px] flex justify-center items-center bg-[url('/hero-contacto.webp')] celular:bg-[url('/hero-contacto.webp')] celular: bg-cover bg-opacity-10"
>
  <div
    class="flex flex-col justify-evenly p-10 max-w-lg celular:items-center celular:w-full celular:p-5"
  >
    <h1
      class="text-5xl p-2 font-bold mb-6 text-white font-audiowide bg-anaranjado celular:text-4xl"
    >
      Contáctanos
    </h1>
    <p class="text-lg text-white mb-5 font-syne">
      Queremos que esa gran idea se haga realidad. Nuestro equipo está listo
      para brindarte la mejor solución tecnológica.
    </p>

    <Button href="/Contacto/" id="contacto">Contáctanos</Button>
  </div>
</section>

<script is:inline>
  // Código que se ejecutará en el cliente
  if (typeof window !== "undefined") {
    const form = document.querySelector("#contacto");

    form.addEventListener("click", (event) => {
      event.preventDefault(); // Evitar recargar la página

      const whatsappMessage = `
        Hola, deseo obtener mayor información sobre sus servicios, me gustaria agendar una reunión con ustedes.
      `;

      const whatsappUrl = `https://wa.me/51954659752?text=${encodeURIComponent(
        whatsappMessage
      )}`;

      window.open(whatsappUrl, "_blank");
    });
  }
</script>
