---
import InfoContacto from "../components/infoContacto.astro";
import DatosContacto from "../components/datosContacto.astro";
---

<main class="pt-24 celular:pt-14">
  <InfoContacto />
  <DatosContacto />
</main>
