---
import AnimatedHeadings from "./animatedHeadings.astro";
import QuienesSomos from "./quienesSomos.astro";
import Servicios from "./servicio.astro";
---

<main class="pt-24 celular:pt-14">
  <AnimatedHeadings />
  <QuienesSomos />
  <Servicios />
</main>
