---
import SectionAnimatedHeadings from "./sectionAnimatedHeadings.astro";
import SectionQuienesSomos from "./sectionQuienesSomos.astro";
import SectionServicios from "./sectionServicio.astro";
---

<main>
  <section
    class="h-[106vh] flex justify-center items-center bg-[url('/arnold-francisca-nPhl2x4fk2s-unsplash.jpg')] celular:bg-[url('/imagen_desarrollowebcelular.webp')] bg-cover bg-opacity-10"
  >
    <SectionAnimatedHeadings />
  </section>
  <SectionQuienesSomos />
  <SectionServicios />
</main>
