---
import SectionAnimatedHeadings from "./sectionAnimatedHeadings.astro";
import SectionQuienesSomos from "./sectionQuienesSomos.astro";
import SectionServicios from "./sectionServicio.astro";
---

<main>
  
    <SectionAnimatedHeadings />
 
  <SectionQuienesSomos />
  <SectionServicios />
</main>
