---
import AnimatedHeadings from "../assets/animatedHeadings.tsx";
---

<html>
  <head>
    <title>Astro con React</title>
  </head>
  <body>
    <main>
      <AnimatedHeadings />
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </main>
  </body>
</html>
