---
import AnimatedHeadings from "./animatedHeadings.astro";
import QuienesSomos from "./quienesSomos.astro";
import Servicios from "./servicio.astro";
---

<main>
  <AnimatedHeadings />
  <QuienesSomos />
  <Servicios />
</main>
