---
import styles from "../modulesCSS/viewsCSS/mainIndex.module.css";
import AnimatedHeadings from "./animatedHeadings.astro";
import QuienesSomos from "./quienesSomos.astro";
import Formulario from "./formulario.astro";
import SectionProducts from "./sectionProducts.astro";
---

<html>
  <head>
    <title>Astro con React</title>
  </head>
  <body>
    <main class={styles.main}>
      <AnimatedHeadings />
      <QuienesSomos />
      <SectionProducts />

      <div></div>
      <div></div>
      <div></div>
      <Formulario />
    </main>
  </body>
</html>
