---
import AnimatedHeadings from "../assets/animatedHeadings.tsx";
import QuienesSomos from "./quienesSomos.astro";
---

<html>
  <head>
    <title>Astro con React</title>
  </head>
  <body>
    <main style="padding-top: 90px;">
      <AnimatedHeadings />
      <QuienesSomos />
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </main>
  </body>
</html>
