---
import styles from "../modulesCSS/componentsCSS/nav.module.css";
import { getCollection } from "astro:content";

const pathname: string = Astro.url.pathname;

const activeClass = (path: string): string => {
  return pathname === path ? styles.active : "";
};
---

<div class={styles.nav}>
  <a class={`${styles.enlaces} ${activeClass("/")}`} href="/">Inicio</a>
  <a class={`${styles.enlaces} ${activeClass("/Servicios")}`} href="/Servicios"
    >Servicios</a
  >
  <a class={`${styles.enlaces} ${activeClass("/contacto")}`} href="/contacto"
    >Contáctenos</a
  >
</div>
