---
const { label } = Astro.props;
const pathname = decodeURIComponent(Astro.url.pathname);

// Genera dinámicamente el path basado en el label
const path = label === "Inicio" ? "/" : `/${label}/`;

// Aplica clases activas si el pathname es "/" (inicio) o coincide con el path generado
const isActive =
  pathname === path ||
  (label === "Servicios" &&
    (pathname === "/CreacióndeSitiosWeb/" ||
      pathname === "/DiseñodeSitiosWeb/" ||
      pathname === "/BrandingeIdentidad/"));
---

<a
  class={`font-audiowide cursor-pointer font-bold  hover:text-anaranjado ${
    isActive ? "text-anaranjado" : ""
  }`}
  {...label === "Servicios" ? {} : { href: path }}
>
  {label}
</a>
