---
const { label } = Astro.props;
const pathname = decodeURIComponent(Astro.url.pathname);

// Genera dinámicamente el path basado en el label
const path =
  label === "Inicio" ? "/" : `/${label.toLowerCase().replace(/\s+/g, "-")}`;

// Aplica clases activas si el pathname es "/" (inicio) o coincide con el path generado
const isActive =
  pathname === path ||
  (label === "Inicio" && pathname === "/") ||
  (label === "Servicios" &&
    (pathname === "/CreacióndeSitiosWeb" ||
      pathname === "/DiseñodeSitios" ||
      pathname === "/BrandingeIdentidad"));
---

<a
  class={`cursor-pointer peer font-bold  text-gray-800  hover:text-black ${
    isActive ? "text-blue-800 font-bold" : ""
  }`}
  {...label === "Servicios" ? {} : { href: path }}
>
  {label}
</a>
