---
//Obtener rutas de las paginas
const { label, path } = Astro.props;
const pathname: string = Astro.url.pathname;

//Calcular ruta del enlace
const computedPath = path || (label === "Inicio" ? "/" : `/${label.toLowerCase().replace(/\s+/g, "-")}`);
const isActive = pathname === computedPath || (label === "Inicio" && pathname === "/");
---

<a
  href={computedPath}
  class={`font-bold text-black hover:text-red-600 ${
    isActive ? "text-blue-500 font-bold" : ""
  }`}
>
  {label}
</a>