---
//Obtener rutas de las paginas
const { label, path } = Astro.props;
const pathname: string = Astro.url.pathname;

// Genera dinámicamente el path basado en el label
const path =
  label === "Inicio" || label === "Servicios"
    ? "/"
    : `/${label.toLowerCase().replace(/\s+/g, "-")}`;

// Aplica clases activas si el pathname es "/" (inicio) o coincide con el path generado
const isActive =
  label === "Servicios"
    ? false
    : pathname === path || (label === "Inicio" && pathname === "/");
---

<a
  href={computedPath}
  class={`font-bold text-black hover:text-red-600 ${
    isActive ? "text-blue-500 font-bold" : ""
  }`}
>
  {label}
</a>