---

---

<div
  class="celular:h-[400px] celular:my-6 w-full h-[500px] flex justify-center"
>
  <div class="w-1/2 flex flex-col items-center justify-center">
    <h2 class="celular:text-center celular:w-full w-3/5 text-4xl font-medium">
      ¿Quiénes somos?
    </h2>
    <p class="celular:px-5 celular:w-full w-3/5 text-justify font-light mt-4">
      Somos un equipo de expertos en desarrollo web y diseño web que se
      especializa en la creación de sitios web atractivos y funcionales que
      reflejen la identidad de tu negocio.
    </p>
  </div>
  <div class="w-1/2 h-full flex justify-center items-center">
    <div class="h-96 w-96 bg-black"></div>
  </div>
</div>
<div class="w-full h-[300px] object-cover celular:h-32">
  <img
    class="w-full h-full object-cover opacity-0 animate-none transition-opacity duration-[1500ms]"
    data-animate="true"
    src="\StockSnap_HMPNPRBUJ7.jpg"
    alt="desarrollo-web"
  />
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll("[data-animate]");

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("opacity-100");
            entry.target.classList.remove("opacity-0");
            observer.unobserve(entry.target); // Deja de observar después de la primera vez
          }
        });
      },
      { threshold: 0.1 } // Se activa cuando el 10% del elemento es visible
    );

    elements.forEach((el) => observer.observe(el));
  });
</script>
