---

---

<div class="w-full h-[500px] flex justify-center">
  <div class="w-1/2 flex flex-col items-center justify-center">
    <h2 class="w-3/5 text-4xl font-medium">¿Quiénes somos?</h2>
    <p class="w-3/5 text-justify font-light mt-4">
      Somos un equipo de expertos en desarrollo web y diseño web que se
      especializa en la creación de sitios web atractivos y funcionales que
      reflejen la identidad de tu negocio.
    </p>
  </div>
  <div class="w-1/2 h-full flex justify-center items-center">
    <div class="h-96 w-96 bg-black"></div>
  </div>
</div>
<div class="w-full h-[300px] bg">
  <div class="w-full bg-black">
    <img
      class="w-full h-full object-cover"
      src="public\pexels-divinetechygirl-1181216-transformed.jpeg"
      alt="desarrollo-web"
    />
  </div>
</div>
