---

---

<div class="w-full h-[500px] flex justify-center">
  <div class="w-1/2 flex flex-col items-center justify-center">
    <h2 class="w-3/5 text-4xl font-medium">¿Quiénes somos?</h2>
    <p class="w-3/5 text-justify font-light mt-4">
      Somos un equipo de expertos en desarrollo web y diseño web que se
      especializa en la creación de sitios web atractivos y funcionales que
      reflejen la identidad de tu negocio.
    </p>
  </div>
  <div class="w-1/2 h-full flex justify-center items-center">
    <div class="h-96 w-full  flex-col content-center">
      <div class="flex flex-row items-center justify-around  mb-10">
        <div class="flex flex-col items-center">
          <svg class="w-14 mb-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><defs><style>.cls-3{fill:#db5669}.cls-4{fill:#f26674}.cls-7{fill:#b5e08c}.cls-10{fill:#425b72}</style></defs><g id="Online_Shop" data-name="Online Shop"><path style="fill:#dad7e5" d="M1 9h46v38H1z"/><path d="M47 9v36h-8A36 36 0 0 1 3 9z" style="fill:#edebf2"/><path class="cls-3" d="M21 35H5l1-14h14c1 14 .81 11.26 1 14z"/><path class="cls-4" d="M20.86 33h-3.12a10 10 0 0 1-10-10.71L7.86 21H20z"/><path class="cls-3" d="M15 23v-3a2 2 0 0 0-4 0v3a1 1 0 0 1-2 0v-3a4 4 0 0 1 8 0v3a1 1 0 0 1-2 0z"/><path class="cls-4" d="M10 20c0 3.16.15 3.46-.5 3.85A1 1 0 0 0 11 23v-3a2 2 0 0 1 1.5-1.93A2 2 0 0 0 10 20zM12.5 16.05A4 4 0 0 1 16 20c0 3.16.15 3.46-.5 3.85A1 1 0 0 0 17 23v-3a4 4 0 0 0-4.5-3.95z"/><path style="fill:#6fabe6" d="M1 1h46v8H1z"/><path d="M47 1v6H9a6 6 0 0 1-6-6z" style="fill:#82bcf4"/><path class="cls-7" d="M6 5a1 1 0 0 0-2 0 1 1 0 0 0 2 0z"/><path d="M10 5a1 1 0 0 0-2 0 1 1 0 0 0 2 0z" style="fill:#ffde76"/><path class="cls-4" d="M14 5a1 1 0 0 0-2 0 1 1 0 0 0 2 0z"/><path d="M39.41 38.41c-.77.79-.74.59-9.41.59a2 2 0 0 1-1.41-3.41c.79-.79.71-.59 9.41-.59a2 2 0 0 1 1.41 3.41z" style="fill:#9dcc6b"/><path class="cls-7" d="M40 37c0 1.34.35 1-9 1a2 2 0 0 1-2-2c0-1.34-.35-1 9-1a2 2 0 0 1 2 2z"/><path class="cls-10" d="M43 22H28a1 1 0 0 1 0-2h15a1 1 0 0 1 0 2zM40 26H28a1 1 0 0 1 0-2h12a1 1 0 0 1 0 2zM34 30h-6a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2z"/></g></svg>
          <p class="font-poppins font-semibold">Aumenta tus ventas</p>
        </div>
        <div class="flex flex-col items-center">
          <svg class="w-14 mb-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><defs><style>.cls-3{fill:#374f68}.cls-4{fill:#425b72}.cls-5{fill:#edebf2}.cls-6{fill:#6fabe6}.cls-7{fill:#82bcf4}</style></defs><g id="Computer_analytic_Growth" data-name="Computer analytic Growth"><path d="M47 6v26H1V6a2 2 0 0 1 2-2h42a2 2 0 0 1 2 2z" style="fill:#9fdbf3"/><path d="M47 6v24H7a3 3 0 0 1-3-3V4h41a2 2 0 0 1 2 2z" style="fill:#b2e5fb"/><path class="cls-3" d="M47 32v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3z"/><path class="cls-4" d="M47 32v3H6a2 2 0 0 1-2-2v-1z"/><path class="cls-3" d="M30 44H18l1.33-7h9.34L30 44z"/><path class="cls-4" d="M29.62 42h-3.53A4.22 4.22 0 0 1 22 37h6.72z"/><path class="cls-3" d="M32 45H16a1 1 0 0 1 0-2h16a1 1 0 0 1 0 2z"/><path class="cls-5" d="M16 10H6a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2zM16 14H6a1 1 0 0 1 0-2h10a1 1 0 0 1 0 2zM12 18H6a1 1 0 0 1 0-2h6a1 1 0 0 1 0 2z"/><path class="cls-6" d="M20 21h4v6h-4z"/><path class="cls-7" d="M24 21v4a2 2 0 0 1-2-2v-2z"/><path class="cls-6" d="M28 19h4v8h-4z"/><path style="fill:#db5669" d="M42 14h-2v13h-4V14h-2l4-5 4 5z"/><path d="M42 14h-2v11a2 2 0 0 1-2-2v-9h-2l3-3.75z" style="fill:#f26674"/><path class="cls-7" d="M32 19v6a2 2 0 0 1-2-2v-4z"/><path class="cls-4" d="M42 28H18a1 1 0 0 1 0-2h24a1 1 0 0 1 0 2z"/></g></svg>
          <p class="font-poppins font-semibold">Impulsa tu crecimiento</p>
        </div>
      </div>
      <div class="flex flex-row items-center justify-around">
        <div class="flex flex-col items-center" >
          <svg class="w-14 mb-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"><path style="fill:#464655" d="m277.446 151.961-30.101 25.497 18.868 23.079 37.944 41.891 41.258-43.586z"/><path style="fill:#464655" d="m232.227 151.961-14.31 11.994-35.986 25.355-15.346 11.625 37.173 41.493 15.602-14.032 26.427-27.859 13.96-16.627z"/><path style="fill:#5b5d6e" d="M256 201.606c-20.638 0-37.427-16.789-37.427-37.427s16.789-37.427 37.427-37.427 37.427 16.789 37.427 37.427-16.789 37.427-37.427 37.427z"/><path style="fill:#464655" d="M256 179.541c-8.47 0-15.362-6.892-15.362-15.362s6.892-15.362 15.362-15.362 15.362 6.892 15.362 15.362-6.892 15.362-15.362 15.362z"/><path style="fill:#5b5d6e" d="m232.4 240.571-76.46-79.843c-3.514-3.672-8.227-5.693-13.27-5.693-4.175 0-8.278 1.457-11.555 4.103l-38.583 31.174 107.891 113.983 26.115-17.983c7.659-4.719 12.708-12.542 13.854-21.466a29.505 29.505 0 0 0-7.992-24.275zM380.876 159.133a18.446 18.446 0 0 0-11.545-4.096c-5.043 0-9.755 2.02-13.271 5.69l-76.459 79.844a29.51 29.51 0 0 0-7.993 24.276c1.143 8.907 6.175 16.716 13.85 21.463l26.119 17.986 107.892-113.982-38.593-31.181z"/><path style="fill:#464655" d="M104.296 385.248c-53.657 0-97.31-43.653-97.31-97.31s43.653-97.31 97.31-97.31 97.31 43.653 97.31 97.31-43.653 97.31-97.31 97.31zM407.704 385.248c-53.657 0-97.31-43.653-97.31-97.31s43.653-97.31 97.31-97.31 97.31 43.653 97.31 97.31-43.653 97.31-97.31 97.31z"/><path style="fill:#00c3ff" d="M104.296 346.324c-32.194 0-58.386-26.192-58.386-58.386s26.192-58.386 58.386-58.386 58.386 26.192 58.386 58.386-26.192 58.386-58.386 58.386zM407.704 346.324c-32.194 0-58.386-26.192-58.386-58.386s26.192-58.386 58.386-58.386 58.386 26.192 58.386 58.386-26.192 58.386-58.386 58.386z"/><path style="fill:#8cdcff" d="M104.296 229.552c-23.158 0-43.209 13.553-52.641 33.143a58.025 58.025 0 0 1 25.243-5.745c32.194 0 58.386 26.192 58.386 58.386 0 9.036-2.065 17.6-5.745 25.243 19.591-9.433 33.143-29.483 33.143-52.641 0-32.194-26.192-58.386-58.386-58.386zM407.704 229.552c-23.158 0-43.209 13.553-52.641 33.143a58.025 58.025 0 0 1 25.243-5.745c32.194 0 58.386 26.192 58.386 58.386 0 9.036-2.065 17.6-5.745 25.243 19.591-9.433 33.143-29.483 33.143-52.641 0-32.194-26.192-58.386-58.386-58.386z"/><circle style="fill:#fff" cx="116.692" cy="272.657" r="19.981"/><circle style="fill:#fff" cx="419.6" cy="272.657" r="19.981"/><path d="M152.43 302.863c-6.661 21.439-27.269 36.795-51.171 35.386-24.969-1.472-45.317-21.448-47.215-46.388-2.249-29.555 21.164-54.325 50.252-54.325 19.47 0 36.389 11.101 44.779 27.303a7.463 7.463 0 0 0 6.63 4.023c5.569 0 9.256-5.896 6.699-10.843-11.444-22.14-35.166-36.946-62.103-35.335-33.094 1.979-59.725 28.96-61.301 62.077-1.784 37.485 28.197 68.549 65.296 68.549 29.402 0 54.325-19.513 62.516-46.267 1.46-4.77-2.204-9.575-7.192-9.575-3.33-.001-6.203 2.216-7.19 5.395zM407.704 222.565c-36.047 0-65.372 29.326-65.372 65.372s29.326 65.372 65.372 65.372 65.372-29.326 65.372-65.372-29.326-65.372-65.372-65.372zm0 115.774c-27.792 0-50.402-22.61-50.402-50.402s22.61-50.402 50.402-50.402 50.402 22.61 50.402 50.402-22.611 50.402-50.402 50.402z"/><path d="m423.882 184.898-38.616-31.2c-10.337-8.34-25.062-7.397-34.252 2.197l-22.754 23.761a7.535 7.535 0 0 0-1.069-.919L300.19 159.71c-2.251-22.398-21.209-39.944-44.19-39.944s-41.939 17.546-44.189 39.943l-27.002 19.026a7.535 7.535 0 0 0-1.069.919l-22.754-23.761c-9.189-9.593-23.915-10.536-34.257-2.194l-38.612 31.198C38.264 192.696 0 235.931 0 287.938c0 57.509 46.788 104.296 104.296 104.296 50.448 0 92.642-36.006 102.243-83.668l23.822-16.405c9.377-5.842 15.553-15.461 16.96-26.425 1.415-11.031-2.184-21.965-9.877-29.998l-7.772-8.115c.161-.143.32-.288.471-.448l18.256-19.246c2.47.428 5.006.664 7.597.664s5.126-.236 7.597-.664l18.256 19.246c.151.159.31.304.471.448l-7.772 8.115c-7.692 8.033-11.291 18.967-9.877 29.998 1.407 10.964 7.584 20.584 16.96 26.425l23.822 16.405c9.605 47.662 51.799 83.668 102.247 83.668 57.509 0 104.296-46.788 104.296-104.296.004-52.007-38.26-95.242-88.114-103.04zM104.296 377.263c-49.255 0-89.326-40.071-89.326-89.326s40.071-89.326 89.326-89.326 89.326 40.071 89.326 89.326-40.071 89.326-89.326 89.326zm128.178-113.432a21.564 21.564 0 0 1-10.13 15.689 5.708 5.708 0 0 0-.321.21l-13.442 9.256c.003-.349.013-.698.013-1.048 0-54.564-42.122-99.472-95.555-103.927l23.097-18.662c4.237-3.421 10.273-3.034 14.04.9l76.46 79.844a21.573 21.573 0 0 1 5.838 17.738zm-13.141-47.007-25.216-26.332 19.328-13.619c3.199 10.704 10.327 19.725 19.71 25.377l-13.822 14.574zM256 193.622c-16.235 0-29.442-13.207-29.442-29.442s13.207-29.442 29.442-29.442 29.443 13.207 29.443 29.442-13.208 29.442-29.443 29.442zm22.844 8.628c9.384-5.652 16.512-14.673 19.711-25.377l19.328 13.619-25.216 26.332-13.823-14.574zm24.576 86.736-13.442-9.256a6.54 6.54 0 0 0-.321-.21 21.561 21.561 0 0 1-10.13-15.689 21.56 21.56 0 0 1 5.841-17.736l76.46-79.844c3.766-3.931 9.804-4.319 14.036-.903l23.101 18.665c-53.435 4.454-95.556 49.362-95.556 103.926-.002.349.008.697.011 1.047zm104.284 88.277c-49.255 0-89.326-40.071-89.326-89.326s40.071-89.326 89.326-89.326 89.326 40.071 89.326 89.326-40.071 89.326-89.326 89.326z"/><path d="M104.296 309.43c-11.641 0-21.113-9.471-21.113-21.112a7.484 7.484 0 0 0-7.485-7.485 7.484 7.484 0 0 0-7.485 7.485c0 19.896 16.187 36.083 36.084 36.083a7.484 7.484 0 0 0 7.485-7.485 7.485 7.485 0 0 0-7.486-7.486zM407.704 309.43c-11.641 0-21.113-9.471-21.113-21.112a7.484 7.484 0 0 0-7.485-7.485 7.484 7.484 0 0 0-7.485 7.485c0 19.896 16.187 36.083 36.084 36.083a7.484 7.484 0 0 0 7.485-7.485 7.485 7.485 0 0 0-7.486-7.486z"/></svg>
          <p class="font-poppins font-semibold">Mejora tu visibilidad</p>
        </div>
        <div class="flex flex-col items-center">
          <svg class="w-14 mb-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><defs><style>.cls-1{fill:#bfbfbf}</style></defs><g id="Brand_Identity" data-name="Brand Identity"><path class="cls-1" d="M41 30V18a6 6 0 0 1 0 12zM11 17h4v14h-4zM19 32a1 1 0 0 1-1-1V17a1 1 0 0 1 2 0v14a1 1 0 0 1-1 1z"/><path class="cls-1" d="M19 32a1 1 0 0 1-1-1V17a1 1 0 0 1 2 0v14a1 1 0 0 1-1 1z"/><path d="M42 17.08V7a1 1 0 0 0-1.65-.76 38.73 38.73 0 0 1-3.9 2.95 1 1 0 0 0 1.1 1.66c.84-.55 1.66-1.13 2.45-1.75v29.79a41.88 41.88 0 0 0-14.65-7.24c-6.9-1.84-6-1.62-6.22-1.62H16V18h3c.21 0-.31.12 6.68-1.74a1 1 0 1 0-.52-1.94L18.87 16H8a8 8 0 0 0 0 16h1v13a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-3.5c0-.56-.24-.66-2-2.34V36h3a1 1 0 0 0 .89-.55l1.29-2.57a45.27 45.27 0 0 1 10.87 3.92 39.1 39.1 0 0 1 7.3 5A1 1 0 0 0 42 41V30.92a7 7 0 0 0 0-13.84zM12 18h2v12h-2zm-2 12H8a6 6 0 0 1 0-12h2zm7 14h-6V32h4v7.58c0 .55.18.61 2 2.35zm2.38-10H17v-2a6.77 6.77 0 0 1 3.2.36zM42 28.9v-9.8a5 5 0 0 1 0 9.8z" style="fill:#424242"/><path d="M38 10a8 8 0 1 0-13 6.24V23a1 1 0 0 0 1.45.89L30 22.12l3.55 1.77A1 1 0 0 0 35 23v-6.76A8 8 0 0 0 38 10zm-9.42-1.69L30 6.06l1.42 2.25L34 9l-1.7 2 .17 2.65-2.47-1-2.47 1L27.7 11 26 9zM27 21.38v-4a7.85 7.85 0 0 0 2 .52v2.45zm6 0-2-1v-2.45a7.85 7.85 0 0 0 2-.52z" style="fill:#fc6459"/></g></svg>
          <p class="font-poppins font-semibold">Fortalece tu marca</p>	
        </div>
    </div>
    </div>
  </div>
</div>
<div class="w-full h-[300px]">
  <img
    class="w-full h-full object-cover opacity-0 animate-none transition-opacity duration-[2000ms]"
    data-animate="true"
    src="\StockSnap_HMPNPRBUJ7.jpg"
    alt="desarrollo-web"
  />
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll("[data-animate]");

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("opacity-100", "animate-pulse");
            entry.target.classList.remove("opacity-0");
            observer.unobserve(entry.target); // Deja de observar después de la primera vez
          }
        });
      },
      { threshold: 0.1 } // Se activa cuando el 10% del elemento es visible
    );

    elements.forEach((el) => observer.observe(el));
  });
</script>
