---

---

<div
  class="celular:flex-col celular:items-center celular:my-6 w-full h-[500px] flex justify-center"
>
  <div
    class="celular:w-10/12 celular:h-1/2 w-1/2 flex flex-col items-center justify-center"
  >
    <h2
      class="celular:text-center celular:w-full w-3/5 text-4xl font-audiowide text-white bg-anaranjado p-2"
    >
      ¿Quiénes somos?
    </h2>
    <p class="celular:w-full w-3/5 text-justify font-syne mt-4 text-white">
      Somos un equipo especializado en desarrollo y diseño web, dedicado a crear
      sitios web visualmente atractivos y funcionales que representen la esencia
      de tu negocio.
    </p>
  </div>
  <div
    class="celular:w-10/12 celular:h-1/2 w-1/2 h-full flex justify-center items-center"
  >
    <div
      class="celular:h-full celular:w-full h-3/4 w-3/4 grid grid-cols-2 grid-rows-2 gap-4 content-center items-center"
    >
      <div class="flex flex-col items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-14"
          viewBox="0 0 64 64"
        >
          <g data-name="Money">
            <path
              d="M40.08 16H11.92A6.038 6.038 0 0 1 7 20.92v8.16A6.038 6.038 0 0 1 11.92 34h28.16A6.038 6.038 0 0 1 45 29.08v-8.16A6.038 6.038 0 0 1 40.08 16zm-14.61 7.62 1.95.97a2.856 2.856 0 0 1-.42 5.28V30a1 1 0 0 1-2 0v-.13a2.845 2.845 0 0 1-2-2.72 1 1 0 0 1 2 0 .85.85 0 0 0 .85.85h.3a.85.85 0 0 0 .85-.85.859.859 0 0 0-.47-.77l-1.95-.97a2.856 2.856 0 0 1 .42-5.28V20a1 1 0 0 1 2 0v.13a2.845 2.845 0 0 1 2 2.72 1 1 0 0 1-2 0 .85.85 0 0 0-.85-.85h-.3a.85.85 0 0 0-.85.85.859.859 0 0 0 .47.77z"
              class="fill-celeste"></path>
            <path
              d="M52 26.31V11a1.003 1.003 0 0 0-1-1H1a1.003 1.003 0 0 0-1 1v40a1.003 1.003 0 0 0 1 1h45.13a3.557 3.557 0 0 1-.13-1v-1H2v-2h44v-2H2v-2h44v-2H2v-2h44v-9a3.999 3.999 0 0 0-4 4 1.003 1.003 0 0 1-1 1H11a1.003 1.003 0 0 1-1-1 3.999 3.999 0 0 0-4-4 1.003 1.003 0 0 1-1-1V20a1.003 1.003 0 0 1 1-1 3.999 3.999 0 0 0 4-4 1.003 1.003 0 0 1 1-1h30a1.003 1.003 0 0 1 1 1 3.999 3.999 0 0 0 4 4 1.003 1.003 0 0 1 1 1v8.48a8.716 8.716 0 0 1 5-2.17z"
              class="fill-celesteOscuro"></path>
            <path
              d="M48 38.35V39c0 2.92 7.18 3 8 3s8-.08 8-3v-.65C61.7 39.79 57.98 40 56 40s-5.7-.21-8-1.65z"
              class="fill-anaranjado"></path>
            <ellipse cx="56" cy="31" rx="8" ry="3" class="fill-gris"></ellipse>
            <path
              d="M48 34.35V35c0 2.92 7.18 3 8 3s8-.08 8-3v-.65C61.7 35.79 57.98 36 56 36s-5.7-.21-8-1.65zM48 42.35V43c0 2.92 7.18 3 8 3s8-.08 8-3v-.65C61.7 43.79 57.98 44 56 44s-5.7-.21-8-1.65zM48 46.35V47c0 2.92 7.18 3 8 3s8-.08 8-3v-.65C61.7 47.79 57.98 48 56 48s-5.7-.21-8-1.65zM48 50.35V51c0 2.92 7.18 3 8 3s8-.08 8-3v-.65C61.7 51.79 57.98 52 56 52s-5.7-.21-8-1.65z"
              class="fill-fucsia"></path>
          </g>
        </svg>

        <p
          class="celular:text-sm font-semibold text-center font-syne text-white"
        >
          Aumenta tus ventas
        </p>
      </div>
      <div class="flex flex-col items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-14"
          viewBox="0 0 64 64"
        >
          <path
            d="M52 19a9 9 0 1 0-9-9 9.01 9.01 0 0 0 9 9zm.527-7.618-1.949-.975A2.844 2.844 0 0 1 51 5.145V5a1 1 0 0 1 2 0v.145a2.848 2.848 0 0 1 2 2.709 1 1 0 0 1-2 0A.856.856 0 0 0 52.145 7h-.29a.854.854 0 0 0-.382 1.618l1.949.975A2.844 2.844 0 0 1 53 14.855V15a1 1 0 0 1-2 0v-.145a2.848 2.848 0 0 1-2-2.709 1 1 0 0 1 2 0 .856.856 0 0 0 .855.854h.29a.854.854 0 0 0 .382-1.618zM62 61h-3V22a1 1 0 0 0-1-1H46a1 1 0 0 0-1 1v39h-6V34a1 1 0 0 0-1-1H26a1 1 0 0 0-1 1v27h-6V46a1 1 0 0 0-1-1H6a1 1 0 0 0-1 1v15H2a1 1 0 0 0 0 2h60a1 1 0 0 0 0-2zM8.707 39.707 36 12.414V16a1 1 0 0 0 2 0v-6a1.004 1.004 0 0 0-1-1h-6a1 1 0 0 0 0 2h3.586L7.293 38.293a1 1 0 1 0 1.414 1.414z"
            class="fill-celeste"></path>
        </svg>

        <p
          class="celular:text-sm font-semibold text-center font-syne text-white"
        >
          Impulsa tu crecimiento
        </p>
      </div>
      <div class="flex flex-col items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-14"
          viewBox="0 0 64 64"
        >
          <path
            d="M35 32a3 3 0 0 0-6 0v2h6zM27 51h10a3.003 3.003 0 0 0 3-3V36H24v12a3.003 3.003 0 0 0 3 3zm9-13a1 1 0 1 1-1 1 1 1 0 0 1 1-1zm-8 0a1 1 0 1 1-1 1 1 1 0 0 1 1-1z"
            class="fill-fucsia"></path>
          <path
            d="M0 54a6.005 6.005 0 0 0 6 6h52a6.005 6.005 0 0 0 6-6V20H0zm51.293-16.293a1 1 0 0 1 1.414-1.414l3 3a1 1 0 0 1 0 1.414l-3 3a1 1 0 0 1-1.414-1.414L53.586 40zM22 36a2.002 2.002 0 0 1 2-2h3v-2a5 5 0 0 1 10 0v2h3a2.002 2.002 0 0 1 2 2v12a5.006 5.006 0 0 1-5 5H27a5.006 5.006 0 0 1-5-5zM8.293 39.293l3-3a1 1 0 0 1 1.414 1.414L10.414 40l2.293 2.293a1 1 0 1 1-1.414 1.414l-3-3a1 1 0 0 1 0-1.414z"
            class="fill-celeste"></path>
          <circle cx="14" cy="12" r="1" class="fill-gris"></circle>
          <circle cx="7" cy="12" r="1" class="fill-gris"></circle>
          <circle cx="21" cy="12" r="1" class="fill-gris"></circle>
          <path
            d="M58 6H6a6.005 6.005 0 0 0-6 6v6h64v-6a6.005 6.005 0 0 0-6-6zM7 15a3 3 0 1 1 3-3 3.003 3.003 0 0 1-3 3zm7 0a3 3 0 1 1 3-3 3.003 3.003 0 0 1-3 3zm7 0a3 3 0 1 1 3-3 3.003 3.003 0 0 1-3 3zm37-2H40a1 1 0 0 1 0-2h18a1 1 0 0 1 0 2z"
            class="fill-celesteOscuro"></path>
        </svg>
        <p
          class="celular:text-sm font-semibold text-center font-syne text-white"
        >
          Fomenta tu presencia
        </p>
      </div>
      <div class="flex flex-col items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-14"
          viewBox="0 0 64 64"
        >
          <g data-name="Building Store">
            <path
              d="M42 2a1 1 0 0 0-1-1H23a1 1 0 0 0-1 1v15h20zM30 15a1 1 0 1 1 1-1 1.003 1.003 0 0 1-1 1zm4 0a1 1 0 1 1 1-1 1.003 1.003 0 0 1-1 1zm3.93-8.63-2 5A1 1 0 0 1 35 12h-6a1.002 1.002 0 0 1-.99-.86l-.71-4.98v-.03L27.13 5H26a1 1 0 0 1 0-2h2a.993.993 0 0 1 .99.86L29.16 5H37a.999.999 0 0 1 .83.44 1.02 1.02 0 0 1 .1.93z"
              class="fill-celeste"></path>
            <path
              class="fill-celesteOscuro"
              d="M29.87 10h4.45l1.2-3h-6.08l.43 3z"></path>
            <path
              d="M53 10c0-1.55-.45-2-1-2h-8v10a1.003 1.003 0 0 1-1 1H21a1.003 1.003 0 0 1-1-1V8h-8a1.003 1.003 0 0 0-1 1v14h42zM12 35a3.999 3.999 0 0 0 4-4 1 1 0 0 1 2 0 4 4 0 0 0 8 0 1 1 0 0 1 2 0 4 4 0 0 0 8 0 1 1 0 0 1 2 0 4 4 0 0 0 8 0 1 1 0 0 1 2 0 4.002 4.002 0 0 0 8 .19L53.34 25H10.66L8 31.19A4.016 4.016 0 0 0 12 35zM44 44h3v2h-3zM39 48h3v2h-3zM39 44h3v2h-3zM44 48h3v2h-3z"
              class="fill-fucsia"></path>
            <path
              d="M55 61h-2V36.91a5.47 5.47 0 0 1-1 .09 6.01 6.01 0 0 1-5-2.69 5.992 5.992 0 0 1-10 0 5.992 5.992 0 0 1-10 0 5.992 5.992 0 0 1-10 0A6.01 6.01 0 0 1 12 37a5.47 5.47 0 0 1-1-.09V61H9a1 1 0 0 0 0 2h46a1 1 0 0 0 0-2zM37 43a1.003 1.003 0 0 1 1-1h10a1.003 1.003 0 0 1 1 1v8a1.003 1.003 0 0 1-1 1H38a1.003 1.003 0 0 1-1-1zm-6 18V44h-5v17h-2V44h-5v17h-2V43a1.003 1.003 0 0 1 1-1h14a1.003 1.003 0 0 1 1 1v18z"
              class="fill-anaranjado"></path>
          </g>
        </svg>

        <p
          class="celular:text-sm font-semibold text-center font-syne text-white"
        >
          Fortalece tu marca
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="w-full h-[200px] bg-white border-y-8 border-neon flex justify-center items-center"
>
  <img
    class="max-w-[400px] max-h-[400px] object-contain opacity-0 animate-none transition-opacity duration-[1500ms]"
    data-animate="true"
    src="../isologo-owlyx-black.webp"
    alt="isologo-owlyx-black"
  />
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll("[data-animate]");

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("opacity-100");
            entry.target.classList.remove("opacity-0");
            observer.unobserve(entry.target); // Deja de observar después de la primera vez
          }
        });
      },
      { threshold: 0.1 } // Se activa cuando el 10% del elemento es visible
    );

    elements.forEach((el) => observer.observe(el));
  });
</script>
