<div class="flex flex-col justify-center celular:flex celular:flex-row">
  <a href="#" class="mb-1 no-underline"
    ><img class="w-6 h-6" src="facebook-icon.png" alt="Facebook" /></a
  >
  <a href="#" class="mb-1 no-underline"
    ><img class="w-6 h-6" src="instagram-icon.png" alt="Instagram" /></a
  >
  <a href="#" class="mb-1 no-underline"
    ><img class="w-6 h-6" src="linkedin-icon.png" alt="LinkedIn" /></a
  >
</div>
