---
import "../styles/global.css";
import Header from "../components/header.astro";
import Formulario from "../components/formulario.astro";
import Footer from "../components/footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="../icono-owlyx-pestaña.webp"
      type="image/webp"
      sizes="any"
    />
    <title>{title}</title>
  </head>
  <body class="bg-negro text-black m-0 p-0 w-full h-full">
    <!-- Pantalla de carga -->
    <div
      id="loader"
      class="fixed inset-0 bg-[#1E1E1E] flex items-center justify-center z-50 transition-opacity duration-500 ease-in-out"
    >
      <div class="flex flex-col items-center justify-center">
        <img src="../logo-owlyx-white.webp" alt="Logo" class="w-40" />
        <div class="flex justify-center items-center space-x-2 mt-4">
          <div class="w-4 h-4 bg-white rounded-full animate-bounce"></div>
          <div class="w-4 h-4 bg-white rounded-full animate-bounce"></div>
          <div class="w-4 h-4 bg-white rounded-full animate-bounce"></div>
        </div>
      </div>
    </div>

    <!-- Contenido principal -->
    <div id="content" class="opacity-0">
      <Header />
      <slot />
      <Formulario />
      <Footer />
    </div>

    <!-- Script para manejar la pantalla de carga -->
    <script is:inline>
      window.addEventListener("load", () => {
        const loader = document.getElementById("loader");
        const content = document.getElementById("content");

        // Mantener el loader visible por un tiempo mínimo
        const minimumLoadTime = 1000;
        const startTime = performance.now();

        if (loader && content) {
          // Determinar cuánto tiempo ha pasado y aplicar el tiempo restante
          const elapsedTime = performance.now() - startTime;
          const remainingTime = Math.max(minimumLoadTime - elapsedTime, 0);

          setTimeout(() => {
            loader.classList.add("opacity-0");
            setTimeout(() => {
              loader.style.display = "none";
              content.classList.add("opacity-100");
            }, 500); // Tiempo de la transición de opacidad
          }, remainingTime);
        }
      });
    </script>
  </body>
</html>
